*{
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#tell{
    color: gray;
}

.outer_box{
    width: 40vw;
    height: 5vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.delete-button{
    height:5px;
    width:5px;
    margin-bottom: 3px;
    cursor: pointer;
}
