<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <h1>Basic contact List</h1>

        <ul>
            <% for(let i of contact_list) { %>
                <li>
                    <p><%= i.name%></p>
                    <p><%= i.number%></p>
                </li> 

            <% }%>
        </ul>
    </body>
</html>