<html>

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/css/home.css" >
</head>

<body>
    <h1 id = "tell">Basic contact List</h1>

    <!-- <ul>
        <% for(let i of contact_list) { %>
            <li>
                <div>
                    <%= i.name%>
                </div>
                <div>
                    <%= i.number%>
                </div>
            </li>

            <% }%>
    </ul> -->

    

    <form action="/create_contact" method="POST">
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="number" name="number" placeholder="Enter number" required>
        <button type="submit">Add Contact</button>
    </form>

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>