<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>Practice ejs</h1>
    <ul>
        <% for(let i=1;i<6;i++){ %>
            <li>
                <%= i %>
            </li>
            <% } %>
    </ul>
    <% if(false) {%>
        <h1> it is true</h1>
        <%}else { %>
            <h1> it is false</h1>
            <% } %>
</body>

</html>